button {
	margin: 5px;
}

#giphy-input {
	width: 100%;
}

#add-giphy {
	margin-top: 5px;
}

#giphy-view {
	margin-bottom: 5vh;
}

.giphy-pic {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}